@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
  padding: 0px !important;
  height: 60px !important;
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: white;
  transition: background-color 5000s ease-in-out 0s !important;
}
